:root {
  --color-brand: #4d5ae5;
  --color-primary: #2e2f42;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-white: #fff;
  --color-cloud: #f4f4fd;
  --color-put: #404bbf;
  --color-block: #e7e9fc;
  --color-footer: #31d0aa;
  --color-tr-bg: rgba(46, 47, 66, 0.7);
  --color-modal-tr-bg: rgba(46, 47, 66, 0.4);
  --color-modal-bg: #fcfcfc;
}

body {
  background-color: var(--color-white);
  color: var(--color-slate);
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
a {
  color: var(--color-primary);
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

button {
  font-family: inherit;
  color: currentColor;
}

/* End Base */

/* Header */

.header {
  border-bottom: 1px solid var(--color-block);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-inner {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.link-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-brand);
  padding: 17.5px 0;
  /* padding: 24px 0; */
  margin-right: 76px;
}
.logo {
  color: var(--color-primary);
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-item {
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-family: Roboto, sans-serif;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item:hover,
.header-item:focus {
  color: var(--color-put);
}
.home {
  position: relative;
  color: var(--color-put);
}
.home::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-put);
}
.address-head {
  font-style: normal;
}
.contacts {
  display: flex;
  gap: 40px;
}
.contacts-item {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  padding: 24px 0;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-item:hover,
.contacts-item:focus {
  color: var(--color-put);
}

.button-menu-toggle {
  min-height: 24px;
  min-width: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}
/* End Header */

/* Hero Section */
.hero-section {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 188px 0;
  display: flex;
  gap: 48px;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  /* max-width: 1440px; */
  margin: 0 auto;

  background-image: linear-gradient(var(--color-tr-bg), var(--color-tr-bg)),
    url(../images/hero/bg_mob.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.hero-button {
  background-color: var(--color-brand);
  color: var(--color-white);
  border: 0;
  cursor: pointer;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  font-family: Roboto, sans-serif;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-put);
}

/* End Hero Section */

/* Advantages Section */

.advantages-section {
  padding: 96px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.advantages-subtitle {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--color-primary);
  margin-bottom: 8px;
}

.advantages-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* End Advantages Section */

/* Team Section */
.team-section {
  background-color: var(--color-cloud);
  padding: 96px 0;
}
.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-primary);
  margin-bottom: 72px;
}
.team-block {
  background-color: var(--color-white);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.block-text {
  padding: 32px 0;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}
.team-item {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--color-primary);
  margin-bottom: 8px;
}
.team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.icon-team {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.icon {
  fill: var(--color-cloud);
}
.icon-item {
  background-color: var(--color-brand);
  padding: 12px;
  border-radius: 50%;
  display: flex;
  width: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  justify-content: center;
  align-items: center;
}

.icon-item:hover,
.icon-item:focus {
  background-color: var(--color-put);
}

/* End Team Section */

/* Portfolio Section */

.portfolio-section {
  padding: 96px 0;
}
.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-primary);
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.portfolio-image {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  background-color: var(--color-brand);
  color: var(--color-cloud);
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0%);
}

.portfolio-block-text {
  padding: 32px 16px;
  border: 1px solid var(--color-block);
  border-top: none;
}
.portfolio-subtitle {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--color-primary);
  margin-bottom: 8px;
}
.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* End Portfolio Section */

/* Footer */

.footer {
  background-color: var(--color-primary);
  color: var(--color-cloud);
  padding: 96px 0;
}

.footer-list {
  display: flex;
  align-items: baseline;
  gap: 72px;
  flex-wrap: wrap;
}

.footer-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-brand);
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo .accent {
  color: var(--color-cloud);
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.social-block {
  /* margin-right: 80px; */
}
.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--color-white);
}

.icon-social {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.social-list {
  width: 40px;
  height: 40px;
}
.social-item {
  background-color: var(--color-brand);
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-image {
  fill: var(--color-cloud);
}
.social-item:hover,
.social-item:focus {
  background-color: var(--color-footer);
}

.subscribe-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--color-white);
}
.subscripe-form {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.subscribe-email {
  display: flex;
  /* flex-direction: column; */
  gap: 16px;
}

.subscripe-input {
  /* width: 264px; */
  width: 288px;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: transparent;
  border: 1px solid var(--color-white);
  border-radius: 4px;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscripe-input::placeholder {
  color: var(--color-white);
}

.subscribe-button {
  margin: 0 auto;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  cursor: pointer;
  background-color: var(--color-brand);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--color-put);
}

.subscribe-button-icon {
  margin-left: 16px;
  fill: var(--color-white);
}
/* End Footer */

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-modal-tr-bg);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background-color: var(--color-modal-bg);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.backdrop.is-hidden .modal {
  transform: scale(0);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-block);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--color-put);
  border: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: var(--color-white);
}

.modal-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-primary);
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
}
.modal-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--color-modal-tr-bg);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus,
.modal-input:focus {
  border-color: var(--color-brand);
}
.modal-comment {
  margin-bottom: 16px;
}

.modal-textarea {
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-modal-tr-bg);
  resize: none;
  width: 100%;
  border: 1px solid var(--color-modal-tr-bg);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--color-primary);
}

.modal-input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--color-brand);
}

.modal-checkbox {
  margin-bottom: 24px;
}

.modal-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
}

.modal-checkbox-check {
  height: 16px;
  width: 16px;
  border: 1px solid var(--color-modal-tr-bg);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-checkbox-input:checked + .modal-checkbox-label .modal-checkbox-check {
  background-color: var(--color-put);
  border: none;
  fill: var(--color-cloud);
}

.checkbox-label-accent {
  color: var(--color-brand);
}

.modal-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: var(--color-brand);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--color-put);
}
/* End Modal */

.menu-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  padding: 72px 16px 40px;

  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.menu-container.is-open {
  transform: translateX(0);
}

.mobile-header-list {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: auto;
}
.mobile-header-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-header-link.current {
  color: var(--color-brand);
}

.mobile-contacts {
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 48px;
}

.mobile-contacts-item:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-contacts-link.accent {
  color: var(--color-brand);
}

.mobile-icon-social {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.mobile-social-list {
  width: 40px;
  height: 40px;
}
.mobile-social-item {
  background-color: var(--color-brand);
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-social-image {
  fill: var(--color-cloud);
}
.mobile-social-item:hover,
.mobile-social-item:focus {
  background-color: var(--color-footer);
}
